:root {
  --page-color: #ffffff;
  --logo-color: #4D5AE5;
  --hero-background: #2E2F42;
  --title-background: #f4f4fd;
  --link-color: #8e8f99;
  --link-color2: #404bbf;
  }

  .body {
    font-family: 'Roboto', sans-serif;
    color: #434455;
    background-color: #FFFFFF;
   }
   /*Reset*/
  
   button {
    cursor: pointer;
  }
  
  a {
    text-decoration: none;
    color: currentColor;
  }
  
  img {
    display: block;
    max-width: 100%;
    height: auto;
  }
  
  ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
  }
  
  h1,h2,h3,h4,h5,h6,p {
    margin: 0;
  }
  
  
  .link {
    text-decoration: none;
    font-style: normal;
  }
    
  
  .list {
    list-style: none;
  }
  
  .container {
    width: 1158px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
  }
  
  .section {
    padding-bottom: 120px;
  }
  
  .visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  }
  

  
  
  
  /*--Header--*/
  
  .header {
    background-color: #ffffff;
    border-bottom: 1px solid #e7e9fc;
    padding: 24px 0;
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
  }
  
  
  .header-container {
    display: flex;
  }
  
  .nav {   
    display: flex;
    align-items: center;
  }
  
  .logo {
    font-family: "Raleway",sans-serif;
    color: var(--logo-color);
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    display: flex;
    margin-right: 76px;
  }
  
  .header-span {
    color: #2E2F42;
  }

  .header-link-current::after {
    content: "";
    position: absolute;
    width: 100%;
    left: 0;
    bottom: -1px;
    height: 4px;
    background-color: #404bbf;
    border-radius: 2px;
    display: flex;
  }
  .header-link:hover,
  .header-link:focus {
    color: var(--link-color2);
  }

  .header-section {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 40px;
  }
  
  .header-link {
    color:#2e2f42;
    padding: 24px 0;
    position: relative; 
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  
  .header-link:hover,
  .header-link:focus {
      color: #404BBF;
  }
  
  .list {
  }
  
  
  .header-section-item {   
    font-family: "Roboto",sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2E2F42;
  }
  
  .address {
  }
  
  .header-addres {
    margin-left: 332px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 40px;
  }
  
  .header-addres-item {
  }
  
  .tel {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  
  .tel:hover,
  .tel:focus {
    color: #404BBF;
  }
  
  .main {
  }
  
  .hero {
<<<<<<< HEAD:css/style.css
    max-width: 1440px; 
    margin: 0 auto;
    background-image: linear-gradient(rgba(46, 47, 66, 0.7),rgba(46, 47, 66, 0.7)), url(../images/people-office1.jpg) ;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    background-repeat: no-repeat;
    background-position: center;
    background-size: auto, cover;
=======
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/main/people-office_1.jpg);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
>>>>>>> aaa221b36f2704d72555b90767048148aa18d6fa:css/styles.css
    background-color: var(--hero-background);
    padding: 188px 0;
    max-width: 1440px;
    margin: 0 auto;
  }
  
  .hero-section-title {
    font-family: "Roboto",sans-serif;
    font-weight: 700;
    font-size: 56px;
    text-align: center;
    line-height: 1.07;
    letter-spacing: 0.02em;
    color: #FFFFFF;
    max-width: 496px;
    margin:0% auto;
    margin-bottom: 48px;
  }
  
  .hero-section-btn {
    background: #4D5AE5;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    text-align: center;
    color: #FFFFFF;
    display: block;
    min-width: 169px;
    height: 56px;
    border: none;
    border-radius: 4px;
    margin:0% auto;
    padding: 16px 32px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
<<<<<<< HEAD:css/style.css
      }
=======
  }
>>>>>>> aaa221b36f2704d72555b90767048148aa18d6fa:css/styles.css
  
  .hero-section-btn:hover,
  .hero-section-btn:focus {
      background: #404BBF;
      
  }
  
  .icon {
    display: inline-block;
    width: 10em;
    height: 10em;
    stroke-width: 0;
    stroke: currentColor;
    fill: currentColor;
  }
  
  /* ==========================================
  Single-colored icons can be modified like so:
  .icon-name {
    font-size: 32px;
    color: red;
  }
  ========================================== */



  
  /*--Stategy--*/
  
  .strategy {
  padding: 120px 0 120px;
  }
    
  .strategy-ikon-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 112px;
    background-color: var(--title-background);
    border-radius: 4px;
    margin-bottom: 8px;
  }
  
  .strategy-ikon {
  }
  .strategy-section-item {
    
    flex-basis: calc((100% - 3 * 24px) / 4);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  
  .strategy-section-list {
    display: flex;
    gap: 24px;
    margin-right: 24px;
    margin-right: 0; 
  }
  
  .strategy-section-title {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2E2F42;
    margin-bottom: 8px;
  }
  .strategy-section-text {
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
  }
   .develop {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--title-background);
    border-radius: 4px;
    margin-bottom: 8px;
  }

  .develop-list {
    display: flex;
    justify-content: center;
    gap: 24px;
    margin-right: 24px;
    margin-right: 0;
  }

 
  .develop-icon {
    width: 64px;
    height: 64px;
    flex-shrink: 0;
  } 
  
  /*--Doing--*/
  
  .doing {
    padding-bottom: 120px;
  }

  .doing-section-title {
    font-family: "Roboto",sans-serif;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    text-transform: capitalize;
    color: #2E2F42;
    margin-bottom: 72px;
  }
  
  .doing-list {
    display: flex;
    gap: 24px;
    margin-right: 24px;
    margin-right: 0;
  }
  
  .doing-item {   
    width: calc((100% - 48px) / 3);  
  }
  
  .doing-img{
  
  }
  
  
  /*--Team--*/
  
  .team {
    background-color: #F4F4FD;
    padding: 120px 0;
  }
  
  .team-section-title {
    font-family: "Roboto",sans-serif;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    text-transform: capitalize;
    color: #2E2F42;
    background-color: #F4F4FD;
    margin-bottom: 72px;
  }
  
  .team-section-container {
    padding: 32px 16px;
  }
  
  .team-list {
    display: flex;
    gap: 24px;
  }
  
  .team-section-item {
    background-color: #FFFFFF;
    width: calc((100% - 72px) / 4);
    border-radius: 0px 0px 4px 4px;
  }
  
  .team-section-name {
    font-family: "Roboto",sans-serif;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2E2F42;
    background-color: #FFFFFF;
    text-align: center;
    margin-bottom: 8px
  }
  
  .teame-section-work {
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
   }

  .team-image {
  }
  
  /*--Footer*/
  
  
  .footer {
    background-color: #2E2F42;
    padding: 100px 0;
  }
  
  .footer-logo {    
    display: inline-block;
    margin-bottom: 16px;
  }
  
  .footer-light {
    color: #F4F4FD;
  }
  
  .footer-section-description {
    font-family: "Roboto",sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #F4F4FD;
    max-width: 264px
  }
  
 /*--Navigation--*/

.main {
}
.navigation {
  padding-top: 96px;   
}

.navigation-list {
  display: flex;
  justify-content: center;
  gap: 24px;
  margin-bottom: 72px;
}

.navigation-item {
}

.filters-nav-btn {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #4D5AE5;
  background-color: #F4F4FD;
  padding: 12px 24px 12px;
  border: 1px solid #e7e9fc;
  border-radius: 4px;
}

.filters-nav-btn:hover,
.filters-nav-btn:focus {
    color: #ffffff;
    background-color: #404BBF;
    border: 1px solid transparent;
}


.porto-list {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px
}

.porto-item {
  width: calc((100% - 48px) / 3);
}

.porto-container {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}

.porto-title {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2E2F42;
  margin-bottom: 8px
}

.teame-section-work {
  font-family: "Roboto",sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

/* icon */


.client-list {
  display: flex;
  justify-content: center;
  gap: 24px;



}
.clients-item {

}
.clients-link {
  display: flex; 
   width: 168px;
  height: 88px;
  justify-content: center;
  align-items: center;

  border: 2px solid var(#8E8F99);
  border-radius: 2px;
}
.claients-icon {
  fill:#4D5AE5

}